.fpp-component-videoleft .video {
  width: 37%;
  float: left;
}

.fpp-component-videoleft .text {
  float: left;
  width: 63%;
  padding-left: 15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */   
}