.fpp-component-videoright .video {
  width: 40%;
  float: left;
}

.fpp-component-videoright .text {
  float: left;
  width: 60%;
  padding-right: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */  

}