.fpp-component-2coltext .right,
.fpp-component-2coltext .left {
  width: 50%;
  float: left;
}

.fpp-component-2coltext .left {
  padding-right: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */  
}